{{#if playing}}
    {{#if correct}}
        <div class="text-center">Yes! It only took me {{guesses}} guesses.</div>
        <div class="text-center">Do you want to <button {{action 'start'}}>play again!</button></div>
    {{else}}
    <div class="text-center">Is it {{guessValue}}?</div>
    <div class="text-center">
      <button {{action 'lower'}}>Lower</button>
      <button {{action 'correct'}}>Correct</button>
      <button {{action 'higher'}}>Higher</button>
    </div>
    {{/if}}
{{else}}
<div class="text-center">Think of a number between 1 and 100 and then press <button{{action 'start'}}>Start!</button></div>
{{/if}}
